{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Query</h2>

            <p>Against an existing graph, determine certain paths.</p>

            {% if graphs | length > 0 %}
                {{ form(form) }}
            {% else %}
                <div class="alert alert-warning">No graphs. <a href="{{ path('populate') }}">Add a graph</a> first.
                </div>
            {% endif %}
        </div>
        {% if answers | length > 0 %}
            <div class="col-md-12">
                {{ answers | raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}