{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Validate</h2>
                <p>Validates the syntax and the semantic of an xml document that describes a graph.</p>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}